/*Redeveloped
Lab: Software Engineering
Exp:Modeling UML Class Diagrams and Sequence diagrams
File Name: main.css
Author: Prakriti Dhang */

html {
    position: relative;
    min-height: 100%;
  }

  body {
    /* Margin bottom by footer height */
    margin-bottom: 100px;
   
  }
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.table-hover  tr:hover th, .table-hover  tr:hover td {
    background-color: #c8e4fffa;
    
}


.table thead{
    background-color: #1536a1fa;
    font-weight: bold;
    text-align: center;
    color: azure;
}



.column-bordered-table td {
  
  border-right: 1px solid #1addff;
}



div.divscroll {
   
    height: 500px;
    overflow-y: scroll;
  }

.card{
    margin-bottom: 10px;
    
    
}
.card-body{
   background-color: transparent;
}

.img-container{
  display:inline-block;
  position: relative;
}


#img1{
  position:absolute ;
  top:10%;
  left:10%;
  width: 40%;
 
 
}

